<script nonce="dnb-components-sw">
if ("serviceWorker" in navigator) {
  window.addEventListener("load", () => {
    navigator.serviceWorker
      .register("service-worker.js")
      .then((registration) => {
        console.log("service worker registered: ", registration);
      })
      .catch((registrationError) => {
        console.log("service worker registration failed: ", registrationError);
      });
  });
} else {
  console.log(
    "service worker registration failed: navigator.serviceWorker not vailable"
  );
}
</script>