<link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicons/apple-touch-icon.png?v=alJyL0x4z6">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicons/favicon-32x32.png?v=alJyL0x4z6">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicons/favicon-16x16.png?v=alJyL0x4z6">
<link rel="manifest" href="/assets/images/favicons/site.webmanifest?v=alJyL0x4z6">
<link rel="mask-icon" href="/assets/images/favicons/safari-pinned-tab.svg?v=alJyL0x4z6" color="#5bbad5">
<link rel="shortcut icon" href="/assets/images/favicons/favicon.ico?v=alJyL0x4z6">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-TileImage" content="/assets/images/favicons/mstile-144x144.png?v=alJyL0x4z6">
<meta name="msapplication-config" content="/assets/images/favicons/browserconfig.xml?v=alJyL0x4z6">
<meta name="theme-color" content="#ffffff">
