{{- warnf "calculating open graph data" -}}
{{- $page := false -}}
{{- if .IsPage -}}{{- $page = true -}}{{- end -}}
<!-- Open Graph meta data generation.
     see https://ogp.me/ for details                                                                                 -->
<!-- *************************************************************************************************************** -->
<!-- Basic Metadata                                                                                                  -->
<!-- *************************************************************************************************************** -->
<!-- og:title       the title of your object as it should appear within the graph                                    -->
<meta property="og:title" content="{{ if ne .IsHome }}{{ .Title }} - {{ end }}{{ site.Title }}" />
<!-- og:type        the type of your object. Depending on the type, other properties may also be required            -->
<meta property="og:type" content="{{ if .IsHome }}website{{ else }}{{ .Params.opengraph.type | default "article" }}{{ end }}" />
<!-- og:image       an image URL which should represent tje object within the graph                                  -->
<!-- og:url         canonical URL, will be used as its permanent ID in the graph                                     -->
<meta property="og:url" content="{{ .Permalink }}" />
<!-- *************************************************************************************************************** -->
<!-- Optional Metadata                                                                                               -->
<!-- *************************************************************************************************************** -->
<!-- og:audio              A URL to an audio file to accompany this object.                                          -->
<!-- og:description        A one to two sentence description of your object.                                         -->
<meta property="og:description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}" />
<!-- og:determiner         The word that appears before this object's title in a sentence. An enum of (a, an, the, "", auto). If auto is chosen, the consumer of your data should chose between "a" or "an". Default is "" (blank). -->
<!-- og:locale             the locale these tags are marked up in, format language_TERRITORY                         -->
<meta property="og:locale" content="{{ site.LanguageCode | default "en_US" }}">
<!-- og:locale:alternate   An array of other locales this page is available in.                                      -->
<!-- og:site_name          the name which should be displayed for the overall site                                   -->
<meta property="og:site_name" content="{{ site.Title }}" />
<!-- og:video              A URL to a video file that complements this object.                                       -->



{{/*{{ with .Params.images }}*/}}
{{/*  {{ range first 1 . }}*/}}
{{/*    <meta property="og:image" content="{{ . | absURL }}" />*/}}
{{/*  {{ end }}*/}}
{{/*{{ end }}*/}}


{{ if $page }}
  <!-- If it is part of a series, link to related articles -->
  {{ $permalink := .Permalink }}
  {{ $siteSeries := .Site.Taxonomies.series }}
  {{ with .Params.series }}
    {{ range $name := . }}
      {{ $series := index $siteSeries $name }}
      {{ range $page := first 6 $series.Pages }}
        {{ if ne $page.Permalink $permalink }}
          <meta property="og:see_also" content="{{ $page.Permalink }}" />
        {{ end }}
      {{ end }}
    {{ end }}
  {{ end }}

  <meta property="article:modified_time" content="{{ .Date }}" />
  <meta property="article:section" content="{{ .Section }}" />
  <meta property="article:published_time" content="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}" />
  {{ with .Params.og_images }}
    {{ range first 6 . }}
      <meta property="og:image" content="{{ . }}" />
    {{ end }}
  {{ end }}
  <meta property="og:image" content="{{ .Params.og_image }}" />
  <meta property="og:image:url" content="{{ .Params.og_image }}" />
  {{ range .Params.tags }}
    <meta property="article:tag" content="{{ . }}" />
  {{ end }}
{{ else }}
  <meta property="og:type" content="blog" />
  <meta property="og:image" content="{{ .Site.Params.og_image }}" />
  <meta property="og:image:url" content="{{ .Site.Params.og_image }}" />
{{ end }}



<!--
image/video/audio (audio does not have width or height, obviously)
og:image:url - Identical to og:image.
og:image:secure_url - An alternate url to use if the webpage requires HTTPS.
og:image:type - A MIME type for this image.
og:image:width - The number of pixels wide.
og:image:height - The number of pixels high.
og:image:alt - A description of what is in the image (not a caption). If the page specifies an og:image it should specify og:image:alt.

article:published_time - datetime - When the article was first published.
article:modified_time - datetime - When the article was last changed.
article:expiration_time - datetime - When the article is out of date after.
article:author - profile array - Writers of the article.
article:section - string - A high-level section name. E.g. Technology
article:tag - string array - Tag words associated with this article.

//-->


{{ if $.Params.images }}
  {{ range first 6 $.Params.images -}}
    <meta property="og:image" content="{{ . | absURL }}" />
  {{ end }}
{{ else -}}
  {{- $images := $.Resources.ByType "image" -}}
  {{- $featured := $images.GetMatch "*feature*" -}}
  {{- if not $featured }}
    {{ $featured = $images.GetMatch "{*cover*,*thumbnail*}" }}
  {{ end -}}
  {{- with $featured -}}
    <meta property="og:image" content="{{ $featured.Permalink }}"/>
  {{ else -}}
    {{- with $.Site.Params.images -}}
      <meta property="og:image" content="{{ index . 0 | absURL }}"/>
    {{ end }}
  {{ end }}
{{ end }}

{{- $iso8601 := "2006-01-02T15:04:05-07:00" -}}
{{- if $page }}
  {{- if not .PublishDate.IsZero }}
    <meta property="article:published_time" {{ .PublishDate.Format $iso8601 | printf "content=%q" | safeHTMLAttr }} />
  {{ else if not .Date.IsZero }}
    <meta property="article:published_time" {{ .Date.Format $iso8601 | printf "content=%q" | safeHTMLAttr }} />
  {{ end }}
  {{- if not .Lastmod.IsZero }}
    <meta property="article:modified_time" {{ .Lastmod.Format $iso8601 | printf "content=%q" | safeHTMLAttr }} />
  {{ end }}
{{- else }}
  {{- if not .Date.IsZero }}
    <meta property="og:updated_time" {{ .Lastmod.Format $iso8601 | printf "content=%q" | safeHTMLAttr }} />
  {{- end }}
{{- end }}

{{- with .Params.audio }}
  <meta property="og:audio" content="{{ . }}" />
{{ end }}
{{- with .Params.locale }}
  <meta property="og:locale" content="{{ . }}" />
{{ end }}
{{- with .Site.Params.title }}
  <meta property="og:site_name" content="{{ . }}" />
{{ end }}
{{- with .Params.videos }}
  {{- range . }}
    <meta property="og:video" content="{{ . | absURL }}" />
  {{ end }}
{{ end }}

{{- /* If it is part of a series, link to related articles */}}
{{- $permalink := .Permalink }}
{{- $siteSeries := .Site.Taxonomies.series }}
{{ with .Params.series }}
  {{- range $name := . }}
    {{- $series := index $siteSeries ($name | urlize) }}
    {{- range $page := first 6 $series.Pages }}
      {{- if ne $page.Permalink $permalink }}
        <meta property="og:see_also" content="{{ $page.Permalink }}" />
      {{ end }}
    {{- end }}
  {{ end }}
{{ end }}

{{- if $page }}
  {{- range .Site.Authors }}
    {{ with .Social.facebook }}
      <meta property="article:author" content="https://www.facebook.com/{{ . }}" />
    {{ end }}
    {{ with .Site.Social.facebook }}
      <meta property="article:publisher" content="https://www.facebook.com/{{ . }}" />
    {{ end }}
    <meta property="article:section" content="{{ .Section }}" />
    {{- with .Params.tags }}
      {{ range first 6 . }}
        <meta property="article:tag" content="{{ . }}" />
      {{ end }}
    {{ end }}
  {{- end }}
{{ end }}

<!-- *************************************************************************************************************** -->
<!-- Facebook specific meta data                                                                                     -->
<!-- *************************************************************************************************************** -->
{{- with site.Params.fb_appid -}}
  <meta property="fb:app_id" content="{{- . -}}" />
{{- end -}}
{{- with site.Social.facebook_admin -}}
  <meta property="fb:admins" content="{{- . -}}" />
{{- end -}}
