{{/* create collection */}}
{{ $collection := slice }}

{{/* load plugged in templated scripts from modules */}}
{{ range $.Site.Data.dnb }}
  {{ if (and (isset . "config") (isset .config "jsTemplates")) }}
    {{ range .config.jsTemplates }}
      {{ $template := . }}
      {{ $js := resources.Get $template | resources.ExecuteAsTemplate (print now.Unix $template) . }}
      {{ $collection = $collection | append ($js) }}
    {{ end }}
  {{ end }}
{{ end }}

{{/* load plugged in scripts from modules */}}
{{ range $.Site.Data.dnb }}
  {{ if (and (isset . "config") (isset .config "js")) }}
    {{ range .config.js }}
      {{ $collection = $collection | append (resources.Get .) }}
    {{ end }}
  {{ end }}
{{ end }}

{{/* add webpack script */}}
{{ $collection = $collection | append (resources.Get "main.js") }}

{{/* add global script */}}
{{ $collection = $collection | append (resources.Get "js/script.js") }}

{{/* add local script */}}
{{ $jsLocal := resources.Get (printf "%s/%s" "js" ($.Param "dnb.javascript")) }}
{{ $collection = $collection | append $jsLocal }}

{{/* create and return javascript */}}
{{ $js := $collection | resources.Concat "script.js" | resources.Minify | resources.Fingerprint "sha384" }}
{{ return $js }}
