{{/*
see
- https://web.dev/iframe-lazy-loading/
*/}}
{{- $pc := .Page.Site.Config.Privacy.YouTube -}}
{{- if not $pc.Disable -}}
{{- $ytHost := cond $pc.PrivacyEnhanced  "www.youtube-nocookie.com" "www.youtube.com" -}}
{{- $id := .Get "id" | default (.Get 0) -}}
{{- $class := .Get "class" | default (.Get 1) -}}
{{- $title := .Get "title" | default (.Get 2) -}}
<div {{ with $class }}class="{{ . }}"{{ else }}{{ end }}>
    <lite-youtube videoid="{{ $id }}"{{ with $title }} playlabel="{{ . }}"{{ end }}></lite-youtube>
</div>
{{- end -}}
